<br>
<br>
<br>
<br>
<br>
<br>


<div class="ae-grid au-xs-ta-center au-mb-3">
    
  <div *ngFor="let producto of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img [src]="producto.url" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">{{ producto.Nombre }}</h5>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ producto.Descripcion }}</p>
    
    
  </div>

</div>


<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">Acerca de nosotros</h4>
    <p>David Martinez Garcia con 21 años de edad , nació en Ometepec , Guerrero y actualmente es estudiante de la Universidad Tecnologica de la Región Norte de Guerrero , cursando la ING. en Desarrollo y Gestión de Software.</p>
  </div>
</div>
    
  

      